<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>用户注册</title>
</head>
<body>
<h1>用户注册</h1>
<form action="/register" method="post" class="container" style="margin-top: 75px">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required maxlength="12">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required maxlength="20">

    <label for="password2"><b>Confirm Password</b></label>
    <input type="password" placeholder="Enter Password Again" name="password2" required maxlength="20" style="margin-bottom: 13px">
    <!--jinja2的函数-->
    {% if message %}
        <div style="color: crimson; font-size: 16px"><b>{{ message }}</b></div>
    {% endif %}
    <button type="submit" class="btn">注册</button>
    <button type="reset" class="btn" style="background-color: #f1f1f1; color: black">重置</button>
</form>
<p class="jump">已经拥有账号？<a href="{{ url_for('login') }}" style="color: #4CAF60">登录</a></p>

<script>
    const username = document.querySelector('input[name="username"]');
    const password = document.querySelector('input[name="password"]');
    const confirm_password = document.querySelector('input[name="password2"]');

    function validateUsername() {
        if (!/^[A-Za-z0-9@_-]{6,12}$/.test(username.value)) {
            username.setCustomValidity("用户名只能包含字母、数字、下划线、中划线和@，长度为6-12位");
        } else {
            username.setCustomValidity('');
        }
    }

    function validatePassword() {
        if (!/^[A-Za-z0-9@_,.-]{6,20}$/.test(password.value)) {
            password.setCustomValidity("密码只能包含字母、数字、下划线、中划线、@和.，长度为6-20位");
        }
        else if (password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("两次输入的密码不一样");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    username.onchange = validateUsername;
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</body>
</html>